* {
    box-sizing: border-box;
}
@font-face {
    font-family: MSSansSerif;
    src: url(../font/MSSansSerif.ttf) format('truetype');
}
@font-face {
    font-family: MSSansSerifPixel;
    src: url(../font/AdobeDia.ttf) format('truetype');
}
body {
    font-family: MSSansSerifPixel;
    font-size: 20px;
    margin: 0;
}
.morningBG {
    background-image: url("../img/morningbg.gif");
}
.dayBG {
    background-image: url("../img/daybg.gif");
    background-size: cover;
}
.nightBG {
    background-image: url("../img/nightbg.gif");
}
.container {
    padding: 0.25em 2em;
    margin: 10px;
}
.flexTable {
    display: flex;
    flex-wrap: wrap;
}
.sidePadding {
    padding: 0 10px;
}
.desktopIcon {
    width: 8em;
    text-align: center;
    color: #FFF;
}
.desktopIcon>img {
    width: 2em;
}
.win95released {
	border-bottom: inset 2px #000;
	border-right: inset 2px #000;
	border-top: solid 2px #FFF;
	border-left: solid 2px #FFF;
    margin: 2px;
}
.win95pressed {
	border-top: inset 2px #000;
	border-left: inset 2px #000;
	border-bottom: inset 2px #FFF;
	border-right: inset 2px #FFF;
    margin: 2px;
}
.popup {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: #C0C0C0;
    width: 30em;
}
.popupHeader {
    cursor: move;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #010081;
    color: #FFF;
    padding: 0 5px 0 10px;
}
.closePopup {
    cursor: pointer;
}
.popupBody {
    font-family: MSSansSerif;
    font-size: 12px;
    padding: 10px;
    overflow-y: scroll;
    height: 25em;
    background-color: #FFF;
}
.popupImg {
    width: 100%;
}
.popupHalfImg {
    width: 50;
}
footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
	border-top: solid 2px #FFF;
	margin-top: 10px;
	background-color: #c0c0c0;
	color: #000;
}
footer>div {
    padding: 0 3px;
    border: 2px solid transparent;
}
#startMenu {
    display: none;
    position: fixed;
    bottom: 50px;
    left: 0;
}
#startTrigger:hover {
    background-color: #FF00FF;
}
#startTrigger:hover #startMenu {
    display: block;
}
#loading {
    background-image: url(https://img00.deviantart.net/4a63/i/2016/244/4/b/windows_95_loading_screen_remake_by_sf2015deviant-dag3dhs.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
